.yet
{ 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.test {
  background-color: red;
}
.page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  border: 2px solid white;
  padding: 15px;
}
.head {
  border: 2px solid white;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 40px;
} 

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}

.input {
  background-color: #b2acac;
  padding: 8px 10px;
  border: none;
  outline: none;
  flex: 1;
}

.button {
  background-color: #c7c1c1;
  padding: 8px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  max-width: 110px;
  width: 100%;
}

.left-list,
.right-list {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 200px;
}

.left-list,
.right-column {
    padding: 15px 10px;
    border: 2px solid white;
}

.left-list {
    align-items: center;
    justify-content: flex-end;
}

.right-list {
    align-items: flex-end;
}

.word-block {
    max-width: 110px;
    width: 100%;
    text-align: center;
    background-color: #c7c1c1;
    cursor: grab;
}

.word-block div {
    padding: 5px 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.empty-block {
    height: 28.5px;
}   